@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: $nil;
  background-image: $bg-gradient;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-weight: 400;
}
ul, p, h1, h2, h3, h4, a{
  list-style-type: none;
  text-decoration: none;
  padding: $nil;
  margin: $nil;
  color: $white;
}

a {
  opacity: 0.5;
  transition: 0.2s ease-in;
  &:hover {
    opacity: 1;
    transition: 0.2s ease-in;
  }
}
