@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: $nil;
  background-image: $bg-gradient;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-weight: 400;
}
ul, p, h1, h2, h3, h4, a, span, strong{
  list-style-type: none;
  text-decoration: none;
  line-height: 28px;
  padding: $nil;
  margin: $nil;
  color: $white;
}

