.sb-faq {
  &-main-container {
    max-width: 1600px;
    margin: 0 auto;
  }
  &-title {
    font-family: $title;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    @include for-pc {

    }
  }
  &-wrapper {
    padding: 0 20px;
  }
  &-list {
    margin-top: 20px;
    color: $white;
    width: 100%;
    @include for-pc {
      height: auto;
    }
  }
  &-question {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    border: none;
    margin: 0;
    outline: none;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-family: $text;
    font-weight: 400;
    transition: background-color 0.2s linear;
  }
  &-answer-container {
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  &-answer {
    font-size: 16px;
    color: #fff;
    padding: 20px;
    font-family: $text;
    font-weight: 400;
    line-height: 30px;
  }
  &-sub-list {
    padding: 20px;
  }
  &-sub-list-item {
    line-height: 35px;
    padding-left: 20px;
  }
}
.mail {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  width: 100%;
  font-weight: 600;
  font-family: $text;
  margin-bottom: 80px;
}
