@keyframes mobile-slider {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-550px);
  }
}
@keyframes mobile-slider-m  {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-370px);
  }
}
