@keyframes mobile-slider {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(-530px);
  }
}
@keyframes mobile-slider-m  {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-175px);
  }
  100% {
    transform: translateX(-363px);
  }
}
