// size

$nil : 0px;
$fz-xlarge : 83px;

// color

$white: #fff;

// backgroundcolor

$bg-gradient: linear-gradient(to right top, #403e65, #554271, #6d4379, #86447d, #a0437c);

// fonts

$basic: 'Roboto Condensed', 'Teko', sans-serif;
$title: 'Teko';
$text: "Cabin Condensed";
