@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0;
  font-family: 'Roboto Condensed', 'Teko', sans-serif;
  background-image: linear-gradient(to left bottom, #403e65, #32314f, #24253a, #181926, #0a0a13);
}
ul, p, h1, h2, h3, h4 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fff;
  opacity: 0.5;
}
/* This Code is for PC */
.main-container-wrapper {
  max-width: 1824px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}
nav {
  float: right;
  padding: 20px 20px 0 0 ;
}
.nav-links {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  padding: 0 20px;

}
.nav-links:hover {
  opacity: 1;
  transition: 0.5s ease-in;
}
.main-container {
  width: 90%;
  padding: 5%;
}
.text-container {
  float: left;
  width: 70%;
}
.title {
  font-family: 'Teko';
  font-size: 83px;
  font-weight: 500;
  margin-bottom: 40px;
}
.icons {
  max-width: 60px;
}
.text-container-list-item {
  padding-bottom: 80px;
}
.text {
  width: 80%;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  line-height: 35px;
  padding-left: 35px;
  font-size: 20px;
}
.text-title {
  font-weight: 700;
}
.image-container {
  width: 30%;
  display: inline-block;
  text-align: center;
  max-width: 320px;
}
.product-img {
  width: 90%;
  padding-top: 40px;
}
.download-button {
  max-width: 180px;
  padding-top: 40px;
  margin-bottom: 120px;
}
/* This Code is for Mobile and Tablet */
@media (max-width: 1078px) {
  .main-container-wrapper {
    height: auto;
    text-align: center;
  }
  .icons {
    padding-bottom: 40px;
  }
  .text-container {
    width: 100%;
  }
  .text {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .image-container {
    width: 80%;
    margin-top: 0;
  }
  .nav-links {
    padding: 0 5px;
  }
  .title {
    line-height: 70px;
  }
}
