@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.link {
  opacity: 0.5;
  transition: 0.2s ease-in; }
  .link:hover {
    opacity: 1;
    transition: 0.2s ease-in; }

.padding-small {
  padding: 10px; }
.padding-medium {
  padding: 20px; }
.padding-bottom-xsmall {
  padding-bottom: 5px; }
.padding-bottom-small {
  padding-bottom: 10px; }
.padding-bottom-medium {
  padding-bottom: 20px; }
.padding-bottom-large {
  padding-bottom: 30px; }
.padding-bottom-xlarge {
  padding-bottom: 50px; }
.padding-bottom-xxlarge {
  padding-bottom: 70px; }
.padding-top-xsmall {
  padding-top: 5px; }
.padding-top-small {
  padding-top: 10px; }
.padding-top-medium {
  padding-top: 20px; }
.padding-top-large {
  padding-top: 30px; }
.padding-top-xxlarge {
  padding-top: 80px; }
.padding-left-xsmall {
  padding-left: 5px; }
.padding-left-small {
  padding-left: 10px; }
.padding-left-medium {
  padding-left: 20px; }
.padding-left-large {
  padding-left: 30px; }
.padding-right-xsmall {
  padding-right: 5px; }
.padding-right-small {
  padding-right: 10px; }
.padding-right-medium {
  padding-right: 20px; }
.padding-right-large {
  padding-right: 30px; }

.margin-bottom-xsmall {
  margin-bottom: 5px; }
.margin-bottom-small {
  margin-bottom: 10px; }
.margin-bottom-medium {
  margin-bottom: 20px; }
.margin-bottom-large {
  margin-bottom: 30px; }
.margin-bottom-xxlarge {
  margin-bottom: 120px !important; }
.margin-top-xsmall {
  margin-top: 5px; }
.margin-top-small {
  margin-top: 10px; }
.margin-top-medium {
  margin-top: 20px; }
.margin-top-large {
  margin-top: 30px; }
.margin-top-xxlarge {
  margin-top: 80px; }
.margin-left-xsmall {
  margin-left: 5px; }
.margin-left-small {
  margin-left: 10px; }
.margin-left-medium {
  margin-left: 20px; }
.margin-left-large {
  margin-left: 30px; }
.margin-right-xsmall {
  margin-right: 5px; }
.margin-right-small {
  margin-right: 10px; }
.margin-right-medium {
  margin-right: 20px; }
.margin-right-large {
  margin-right: 30px; }

.style-disc {
  list-style-type: disc; }

.fz-xsmall {
  font-size: 12px; }
.fz-medium {
  font-size: 50px !important; }

.text-left {
  text-align: left; }
.text-center {
  text-align: center; }
.text-right {
  text-align: right; }
.text-underline {
  text-decoration: underline; }

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.sb-main-container {
  width: 100%;
  position: relative;
  font-family: "Lato", sans-serif;
  background: url("../../images/background2.svg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  @media screen and (min-width: 62em) {
    .sb-main-container {
      text-align: left;
      min-height: 100vh;
      background-position: 200% 38%;
      background-size: 72%; } }
.sb-nav {
  padding: 40px;
  font-family: "Lato", sans-serif;
  text-align: left; }
  .sb-nav-faqs {
    float: right; }
.sb-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  overflow: hidden; }
  @media screen and (min-width: 62em) {
    .sb-container {
      max-width: 1600px;
      grid-template-columns: 2fr 1fr;
      margin: 40px auto 0; } }
@media screen and (min-width: 62em) {
  .sb-text-container {
    padding-left: 40px; } }
.sb-title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 700; }
.sb-sub-title {
  font-size: 14px;
  line-height: 30px;
  padding-top: 10px;
  opacity: 0.5;
  font-family: "Lato", sans-serif;
  margin: 0; }
  @media screen and (min-width: 62em) {
    .sb-sub-title {
      padding-top: 0; } }
.sb-description {
  opacity: 0.7;
  line-height: 30px;
  font-size: 14px; }
.sb-list {
  padding-top: 20px; }
.sb-list-item {
  padding: 20px 0; }
  @media screen and (min-width: 62em) {
    .sb-list-item {
      padding: 30px 0px; } }
.sb-icon {
  max-width: 60px;
  padding-bottom: 10px;
  vertical-align: middle;
  filter: invert(100%); }
.sb-text {
  display: block;
  display: inline-block;
  line-height: 30px;
  font-size: 14px; }
  @media screen and (min-width: 62em) {
    .sb-text {
      vertical-align: middle;
      padding-left: 35px;
      width: 80%;
      font-family: "Lato", sans-serif; } }
  .sb-text-title {
    font-weight: 700;
    font-size: 16px; }
.sb-image-container {
  max-width: 300px;
  width: 100%;
  max-height: 610px;
  height: 610px;
  margin: 0 auto; }
  @media screen and (max-width: 35.99em) {
    .sb-image-container {
      margin-top: 40px;
      max-width: 200px;
      height: 407px; } }
.sb-phone-screen {
  border-radius: 48px;
  background: url("../../images/iPhone-image2.png");
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  background-size: 101%;
  overflow: hidden; }
  @media screen and (max-width: 35.99em) {
    .sb-phone-screen {
      border-radius: 32px; } }
.sb-product-img-2 {
  width: 280%;
  position: absolute;
  z-index: -1;
  border-radius: 0 0 0 48px;
  left: 0;
  animation: mobile-slider 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite; }
  @media screen and (max-width: 35.99em) {
    .sb-product-img-2 {
      animation: mobile-slider-m 8s;
      width: 284%; } }

.download-button {
  max-width: 180px;
  padding-top: 40px;
  margin-bottom: 80px; }
  .download-button-link {
    display: block;
    text-align: center; }

.copyright {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
  padding: 0 20px; }

body {
  margin: 0px;
  background-image: linear-gradient(to right top, #403e65, #554271, #6d4379, #86447d, #a0437c);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-weight: 400; }

ul, p, h1, h2, h3, h4, a, span, strong {
  list-style-type: none;
  text-decoration: none;
  line-height: 28px;
  padding: 0px;
  margin: 0px;
  color: #fff; }

.sb-faq-main-container {
  max-width: 1600px;
  margin: 0 auto; }
.sb-faq-title {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 60px;
  text-align: center; }
.sb-faq-wrapper {
  padding: 0 20px; }
.sb-faq-list {
  margin-top: 20px;
  color: #fff;
  width: 100%; }
  @media screen and (min-width: 62em) {
    .sb-faq-list {
      height: auto; } }
.sb-faq-question {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0;
  outline: none;
  text-align: left;
  padding: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  transition: background-color 0.2s linear; }
.sb-faq-answer-container {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out; }
.sb-faq-answer {
  font-size: 16px;
  color: #fff;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 30px; }
.sb-faq-sub-list {
  padding: 20px; }
.sb-faq-sub-list-item {
  line-height: 35px;
  padding-left: 20px; }

.mail {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  width: 100%;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-bottom: 80px; }

.privacypolicy-main-container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  padding: 0px 60px;
  background-color: rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 35.99em) {
    .privacypolicy-main-container {
      padding: 15px; } }
.privacypolicy-title {
  font-size: 35px; }

@keyframes mobile-slider {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-550px); } }
@keyframes mobile-slider-m {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-370px); } }

/*# sourceMappingURL=application.css.map */
